@import 'normalize';
@import 'h5bp';
@import '../node_modules/colors.css/less/_variables';

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1em;
    line-height: 1.4;
    min-height: 100%;
    position: relative;
}


// ==========================================================================
// Vars
// ==========================================================================

@footer-height: 100vh;

// ==========================================================================
// Type and spacing
// ==========================================================================

body {
    color: @silver;
    font: 16px/26px 'Noto Serif', serif;
    margin: 0 0 @footer-height;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
}

h1 {
    font-size: 3em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
}
h2 {margin: 0.4em 0;}
p {margin: 0 0 0.4em 0;}


// ==========================================================================
// Content section stlye/spacing
// ==========================================================================

#bg {
    background: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    background-image: url(/bg.jpg);
}

.wrapper {
    width: 100%;
}

.fixed-column (@width, @gutter: 200px) {
    @media only screen and (min-width: @width) {
        max-width: @width - (@gutter / 2);
        padding-left: 0;
        padding-right: 0;
    }
}

.fluid-column (@width, @gutter) {
    @media only screen and (min-width: @width) {
        max-width: auto;
        padding-left: @gutter / 2;
        padding-right: @gutter / 2;
    }
}

.inner-content {
    -webkit-backdrop-filter: blur(5px);
    border-top: 1px solid fade(@black, 40%);
    border-bottom: 1px solid fade(@black, 40%);
    box-shadow:
        inset 1px 5px 9px -6px @black,
        inset 1px -5px 9px -7px @black;

    .column {
        margin: 0 auto;
        .fluid-column(0px, 40px);
        .fluid-column(480px, 10%);
        .fixed-column(768px, 154px);
        .fixed-column(920px);
        .fixed-column(1140px);
    }
}

main {
    .inner-content {
        margin-top: 25vh;
        padding-top: 3em;
        padding-bottom: 3em;
        &:first-child {
            margin-top: 0;
            @media only screen and (min-width: 768px) {
                margin-top: 25vh;
            }
        }
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: @footer-height;
    width: 100%;

    .inner-content {
        text-align: right;
        padding-top: 18px;
        padding-bottom: 18px;
        position: absolute;
        width: 100%;
        bottom: 0;

        .footer-column {
            text-align: center;
            @media only screen and (min-width: 920px) {
                text-align: left;
                float: left;
                &:last-child {
                    float: right;
                }
            }
        }
    }
}


// ==========================================================================
// Links/content sections
// ==========================================================================

a {
    transition: color .3s, background-color .3s;
    &:active {
        transition: color .3s, background-color .3s;
    }
    &.title-link {
        font-weight: 700;
        padding: 0 2px;
        text-decoration: none;
    }
}

.list-item {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid;
    box-shadow: inset 1px 5px 12px -10px rgba(0,0,0,0.6);
    &:last-child {
        border-bottom: 1px solid;
        padding-bottom: 1em;
        box-shadow:
            inset 1px 5px 12px -10px rgba(0,0,0,0.6),
            inset 1px -5px 12px -10px rgba(0,0,0,0.6);
    }
    p:last-child {margin-bottom: 0;}
}


// ==========================================================================
// Style different sections colors w/ link+text color
// ==========================================================================

.color-section (@bg, @link, @text: #ddd) {
    color: @text;
    background: fade(@bg, 90%);
    a {
        &:link, &:visited {
            color: @link;
        }
        &:hover {
            color: darken(@link, 10%);
        }

        &.title-link {
            &:link, &:visited {
                background-color: @link;
                color: @bg;
            }
            &:hover {
                background-color: darken(@link, 10%);
            }
        }
    }
    .list-item {
        border-color: @link;
    }
}

.color-green {
    .color-section(@green, @yellow);
}

.color-blue {
    .color-section(@blue, @navy);
}

.color-red {
    .color-section(@orange, @maroon);
}
