mixin intro()
  p.intro
    block
    | 

mixin section(id, color, pattern)
  .inner-content(class=['color', 'color-' + color, 'pattern', 'pattern-' + pattern], id=id, data-color=color)
    .column
      block
