extends ./_layout.jade
include ./_mixins.jade

block content
  +section('intro', 'blue', 'diamonds')
    h1 Hi, my name is Luke

    +intro()
      | I love #[a(href='https://www.npmjs.com/~lukekarrys') open source] #[a(href='http://github.com/lukekarrys') software] and work at #[a(href='https://andyet.com/team/luke') &yet].

    +intro()
      | I also have a #[a(href='https://resume.lukekarrys.com') resume]. <small><small>(#[a(href='https://github.com/lukekarrys/resume/blob/master/index.js') that I accidentally overengineered, but its a funny story])</small></small>

    +intro()
      | I also like to #[a(href='http://lukelov.es') share thoughts], #[a(href='http://lukecod.es') write about code], and #[a(href='http://talks.lukekarrys.com') talk], and #[a(href='https://music.apple.com/profile/lukekarrys') listen to music].

    +intro()
      | When I'm not sitting down, I like to #[a(href='https://www.strava.com/athletes/lukekarrys') run] (or #[a(href='https://www.athlinks.com/athletes/192798013') race] or try #[a(href='https://ultrasignup.com/results_participant.aspx?fname=Luke&lname=Karrys') longer races]) and #[a(href='http://www.strava.com/athletes/lukekarrys') ride my bike].

