@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    @apply text-lg p-4 text-gray-900 dark:bg-gray-900 border-8;
    border-radius: 0 0 env(safe-area-inset-bottom, 0px)
      env(safe-area-inset-bottom, 0px);
    min-height: calc(100 * var(--vh));
  }

  /* Tailwind is using the "class" darkMode strategy since that makes
   * it easier to toggle dark mode via user preference, but this is a
   * a fallback so that the background changes with no JS */
  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-gray-900;
    }
  }

  body > * {
    @apply mb-2 p-2 rounded;
  }

  h1 {
    @apply text-2xl sm:text-4xl;
  }

  body > *:last-child {
    @apply mb-0;
  }

  a {
    @apply border-b-2 border-gray-900;
    @apply focus:outline-none focus:ring-2 focus:ring-gray-900 focus:border-b-0 focus:rounded;
  }

  button {
    @apply focus:outline-none focus:ring-2 focus:ring-gray-900;
  }

  ul {
    @apply list-outside list-disc pb-3;
  }

  ul li {
    @apply ml-5;
  }
}

@layer components {
  .profile {
    @apply overflow-hidden fixed w-1/6 top-8 right-8 m-0 p-0;
    @apply rounded-full border-4 shadow-xl border-pink;
  }

  .body-border {
    @apply border-pink;
  }
}

@layer utilities {
  @variants motion-safe {
    .pulse-border {
      @apply border-pink;
      animation: pulseBorder 60s infinite;
    }

    @keyframes pulseBorder {
      0%,
      32%,
      100% {
        border-color: theme("colors.pink");
      }
      33%,
      65% {
        border-color: theme("colors.cyan");
      }
      66%,
      99% {
        border-color: theme("colors.yellow");
      }
    }
  }

  @variants motion-safe {
    .pulse-404 {
      @apply bg-pink;
      animation: pulse404 6s infinite;
    }

    @keyframes pulse404 {
      0%,
      100% {
        background-color: theme("colors.pink");
        border-color: theme("colors.pink");
      }
      33% {
        background-color: theme("colors.cyan");
        border-color: theme("colors.cyan");
      }
      66% {
        background-color: theme("colors.yellow");
        border-color: theme("colors.yellow");
      }
    }
  }
}
